<h3>Detalhes do Projeto</h3>
<div>
    <div style="margin-bottom: 5px;">
        <label><b>Nome: </b></label> {{project.nome}}
    </div>
    <div style="margin-bottom: 5px;">
        <label><b>Responsável: </b></label> {{project.responsavel}}
    </div>
    <div style="margin-bottom: 5px;">
        <label><b>Descrição: </b></label> {{project.descricao}}
    </div>
    <div style="margin-bottom: 5px;">
        <label><b>Data de Início: </b></label> {{project.dataInicio}}
    </div>
    <div style="margin-bottom: 5px;">
        <label><b>Data Final (previsão): </b></label> {{project.dataPrevisao}}
    </div>
    <div style="margin-bottom: 5px;">
        <label><b>Data Final (real): </b></label> {{project.dataReal}}
    </div>
    <div style="margin-bottom: 5px;">
        <label><b>Status: </b></label> {{project.status}}
    </div>
    <div style="margin-bottom: 5px;">
        <label><b>Risco: </b></label> {{project.risco}}
    </div>
    <div>
        <label><b>Orçamento: </b></label> {{project.orcamento}}
    </div>
</div>